<h2><%= @tamagotchi.name %></h2>

<h4>Food level: <%= @tamagotchi.food_level %></h4>
<h4>Activity level: <%= @tamagotchi.activity_level %></h4>
<h4>Sleep level: <%= @tamagotchi.sleep_level %></h4>
<form action="/play/<%= @tamagotchi.id() %>" method="post">
  <div class="form-group">
    <button type="submit" class="btn-primary" name="commit" value="status">Status</button>
    <button type="submit" class="btn-success" name="commit" value="feed">Feed</button>
    <button type="submit" class="btn-info" name="commit" value="sleep">Sleep</button>
    <button type="submit"class="btn-warning" name="commit" value="play">Play</button>
  </div>
</form>
<a href="/">Return to Main Page</a>
